@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Noto+Serif');

*, *:before, *:after {
    box-sizing: border-box;
    /* outline: solid 1px red; */
}

html, body {
    height: 100%;
}

body {
    font-family: 'Montserrat';
    padding: 0;
    margin: 0;
}

h1 {
    text-transform: uppercase;
    font-weight: 200;
    font-size: 5rem;
    margin: 0;
    line-height: 6.5rem;
}

.title {
    margin: 0;
    text-transform: uppercase;
    font-weight: 900 !important;
    font-size: 3rem;
    letter-spacing: 5px;
}

.subtitle {
    font-style: italic;
    font-weight: 400;
    font-family: 'Noto Serif';
}

.white-button {
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 3px;
    padding: 30px 60px;
    margin-top: 1%;
    cursor: pointer;
}

.transparent-button {
    color: white;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 3px;
    width: fit-content;
    padding: 30px 0;
    background: none;
    border: none;
    cursor: pointer;
    text-align: left;
    margin-top: 1vh;
}

/* Carousel */
#top-slider {
    height: 85vh;
    position: relative;
    overflow: hidden;
    display: flex;
    -webkit-flex-flow: row nowrap;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.slider-nav {
    width: 10px;
    height: 10px;
    margin: 0 7px 30px;
    border-radius: 50%;
    z-index: 10;
    outline: 5px solid #aaa;
    outline-offset: -6px;
    cursor: pointer;
    -webkit-appearance: none;
        -moz-appearance: none;
            appearance: none;
    -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
}
.slider-nav:checked {
    -webkit-animation: check 0.4s linear forwards;
        animation: check 0.4s linear forwards;
}
.slider-nav:checked:nth-of-type(1) ~ .slider-content {
    left: -10vw;
}
.slider-nav:checked:nth-of-type(2) ~ .slider-content {
    left: -130vw;
}
.slider-nav:checked:nth-of-type(3) ~ .slider-content {
    left: -250vw;
}
.slider-nav:checked:nth-of-type(4) ~ .slider-content {
    left: -370vw;
}
.slider-content {
    position: absolute;
    top: 0;
    left: -10%;
    height: 100%;
    -webkit-transition: left 0.4s;
    transition: left 0.4s;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row nowrap;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
}
.slider-item {
    text-align: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

#top-slider img {
    width: 120vw;
    height: 85vh;
}

.top-slider-text {
    width: 120vw;
    position: absolute;
    text-align: center;
    color: white;
}   

#top-slider h3 {
    color: #D8C7BB;
    font-style: italic;
    font-weight: 400;
    font-family: 'Noto Serif';
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

#top-slider p {
    font-weight: 400;
    font-size: 1.4rem;
    margin: 0;
    line-height: 2.25rem;
    transform: scale(1.2);
}

.top-slider-text :first-child {
    text-align: start;
    margin: 3% 0 7% 12% !important;
}

@-webkit-keyframes check {
    50% {
        outline-color: white;
    }
    100% {
        outline-color: white;
    }
}

@keyframes check {
    50% {
        outline-color: white;
    }
    100% {
        outline-color: white;
    }
}

#home {
    margin: 15vh 5% 20vh;
}

#home-subtitle {
    color: #CC968A;
    margin-bottom: 0.75rem;
}

#home-title {
    margin-bottom: 5%;
}

#home-top, #home-bottom {
    display: flex;
    justify-content: space-between;
}

#home-top > :first-child img {
    box-shadow: 1px 1px 100px -30px #D8C7BB;
}

#home-bottom > :last-child {
    margin-top: 8vh;
}

.home-image {
    width: 45%;
    margin-bottom: 15vh;
}

.home-image img {
    position: relative;
    width: 100%;
    margin-bottom: 1%;
    z-index: 20;
}

.home-text {
    position: absolute;
}

.home-image-subtitle {
    text-transform: uppercase;
    margin: 2vh 0 0;
    letter-spacing: 3px;
    font-size: 1rem;
}

.home-number {
    position: absolute;
    font-family: 'Noto Serif';
    font-style: italic;
    color: #E2C0B6;
}

.home-number h4 {
    font-size: 10rem;
    font-weight: 100;
    margin: 0;
    margin-left: 1vw;
    opacity: 0.3;
    line-height: 2.5rem;
}

#notre-dame {
    background-image: url(assets/landing-slider1-background.jpg);
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: 120%;
    height: 75vh;
    margin-bottom: 15vh;
    display: flex;
}

#notre-dame-left {
    width: 48%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10vh 0 0 10vw;
    height: 75vh;
    color: white;
}

#notre-dame-subtitle {
    color: #FAE4D9;
    margin: 0;
    font-size: 1.2rem;
}

#notre-dame-title {
    margin: 1vh 0 2vh;
    font-size: 3.1rem;
}

#notre-dame-left p {
    font-weight: 300;
    font-size: 19px;
    line-height: 2rem;
    margin: 0;
}

#notre-dame-right {
    width: 52%;
    height: 72vh;
    padding-top: 5%;
    max-width: 50vw;
}

#notre-dame-img1 {
    position: absolute;
    margin-left: 5%;
}

#notre-dame-img2 {
    position: absolute;
    margin-top: 6%;
}

#notre-dame-img3 {
    margin: 37% 0 0 24%;
}

#projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 5vw 20vh;
}

#projects-subtitle {
    color: #CC968A;
    margin: 0;
    margin-bottom: 1vh;
}

#projects-title {
    margin-bottom: 3vh;
}

.project-line {
    display: flex;
    justify-content: space-around;
    margin-top: 5vh;
}

.project {
    width: 29%;
    margin-bottom: 2.5vh;
}

.project img {
    width: 100%;
    box-shadow: 10px 10px 30px -30px #CCC;
}

.project h5 {
    font-size: 1.25rem;
    letter-spacing: 2px;
    margin-top: 2.5vh;
}

#footer {
    height: 86vh;
    background-image: url('assets/landing-bottom-background-1.jpg');
    background-repeat: no-repeat;
    background-position: center 20%;
    background-size: 115%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

#footer-subtitle {
    color: #FFF1E4;
    font-size: 1.5rem;
}

#footer p {
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 2rem;
    transform: scale(1.2);
    max-width: 37%;
    text-align: center;
    margin: 1vh 0 2vh;
}